{% extends "base.html" %}{% block content%}
 <div class="col-md-6 mx-auto" >
    <form action="{{ url_for('back_office.force_reservation')}}" method="POST" class="form-container">
        <div class="mb-3 form-check"><h1>Force Reservation</h1></div>
        <div class="mb-3 form-check">
            <label class="form-label">Reservation ID</label>
            <input type="text" readonly class="form-control" name="reservation_request_id" value="{{request_id}}">
        </div>
        <div class="mb-3 form-check">
            <label  class="form-label">Password</label>
            <input type="text" readonly class="form-control" value="{{last_name}}" >
        </div>
         <div class="mb-3 form-check">
            <label  class="form-label">Password</label>
            <input type="text" readonly class="form-control" value="{{first_name}}" >
        </div>
        <div class="mb-3 form-check">
            <label  class="form-label">OC Ticket Num</label>
            <input type="text" required class="form-control" name="oc_ticket_num" >
        </div>
         <div class="mb-3 form-check">
            <label  class="form-label">OC New Solde</label>
            <input type="text" required class="form-control" name="oc_new_solde" >
        </div>
        <div class="mb-3 form-check">
            <label  class="form-label">OC Solde ID</label>
            <input type="text"  class="form-control" name="oc_solde_id" >
        </div>

        <div class="mb-3 form-check">
        <button type="submit" class="btn btn-primary">Login</button>
        <button type="button" class="btn btn-primary" onclick="">Close</button></div>
    </form>
</div>
{% endblock %}