{% extends "base.html" %}{% include "navbar.html"%}{% block title %}Cashplus {% endblock %}{% block content%}
<style>
    #container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 3%;

  Poppins,sans-serif
}
   #button {
  display: flex;
  flex-direction: row;



}

</style>
<div id="container">
    <h1>
        Force Reservation</h1>
</div>
{% endblock %}
{% block details%}
<div style="background-color: whitesmoke;">
    <div class="col-md-6 mx-auto">
        <form action="{{ url_for('back_office.force_reservation')}}" method="POST" class="row g-3 ">
            <!--        <div class="mb-3 form-check" style="width: 50%;">-->
            <!--            <label class="form-label">Reservation ID</label>-->
            <input type="hidden" readonly class="form-control" name="reservation_request_id" value="{{request_id}}">
            <!--        </div>-->
            <div class="mb-3 form-check" style="width: 50%;">
                <label class="form-label">Last name</label>
                <input type="text" readonly class="form-control" value="{{last_name}}">
            </div>
            <div class="mb-3 form-check" style="width: 50%;">
                <label class="form-label">First Name</label>
                <input type="text" readonly class="form-control" value="{{first_name}}">
            </div>
            <div class="mb-3 form-check" style="width: 50%;">
                <label class="form-label">Identification type</label>
                <input type="text" readonly class="form-control" value="{{type_id}}">
            </div>
            <div class="mb-3 form-check" style="width: 50%;">
                <label class="form-label">Identification number</label>
                <input type="text" readonly class="form-control" value="{{num_id}}">
            </div>
            <div class="mb-3 form-check" style="width: 50%;">
                <label class="form-label">OC Ticket Num </label><span style="color: #af5151;">*</span>
                <input type="text" required class="form-control" name="oc_ticket_num">
            </div>
            <div class="mb-3 form-check" style="width: 50%;">
                <label class="form-label">OC New Solde </label><span style="color: #af5151;">*</span>
                <input type="number" required class="form-control" name="oc_new_solde">
            </div>
            <div class="mb-3 form-check" style="margin-left: 11%;">
                <button type="submit" style="width: 42%;" class="btn btn-primary" >Force
                    Reservation
                </button>
<!--            </div>-->
<!--            <div class="mb-3 form-check">-->
                <a href="{{ url_for('back_office.listreservation')}}">
                    <button type="button" style="width: 22%;"
                            class="btn btn-warning" onclick="">
                        Close
                    </button>
                </a>
    </div>

        </form>
    </div>
</div>
{% endblock %}
<!--{% block button %}-->
<!--&lt;!&ndash;<div class="mb-3 form-check">&ndash;&gt;-->
<!--    <button type="submit" class="btn btn-primary" style="margin-left: 29%;width: 25%;margin-top: 1%;">Force-->
<!--        Reservation-->
<!--    </button>-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="mb-3 form-check">&ndash;&gt;-->
<!--    <a href="{{ url_for('back_office.listreservation')}}">-->
<!--        <button style="margin-left: 6%;width: 148%;margin-top: 20%;" type="button"-->
<!--                class="btn btn-warning" onclick="">-->
<!--            Close-->
<!--        </button>-->
<!--    </a>-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--{% endblock %}-->
