{% extends "base.html" %}

{% block content%}
<link href="{{ url_for('static', filename='popup.css') }}" rel="stylesheet">
<div class="p-4">
        <div class="wrapper">
            <div class="logo"><img
                    src="{{url_for('static' , filename='cp_logo.png')}}"
                    alt=""></div>
            <div class="text-center mt-4 name">Mobidot</div>
            <form class="p-3 mt-3" action="{{ url_for(('back_office.listreservation')) }}" method="POST">
                <div class="form-field d-flex align-items-center"><span class="far fa-user"></span> <input type="text"
                                                                                                           name="app_id"
                                                                                                           id="userName"
                                                                                                           placeholder="Username">
                </div>
                <div class="form-field d-flex align-items-center"><span class="fas fa-key"></span> <input
                        type="password" name="password" id="pwd" placeholder="Password"></div>
                <button class="btn mt-3" type="submit">Login</button>
            </form></div>

<!--    </form>-->
</div>
{% endblock %}