{% extends "base.html"%} {% block title %}Réservation{% endblock %}

{% block nav %}{% include "navbar.html"%} {% endblock %}
{% block content %}
<link href="{{ url_for('static', filename='details.css') }}" rel="stylesheet">

<div id="container">
    <h1 id="title">Demmande Reservation </h1></div>
{% endblock %}
{% block details %}
<div id="container_1" class="col-12">
    <form id="form" name="form" class="row g-3 " novalidate action="" method="post" autocomplete="off">
        <input type="hidden" readonly class="form-control" name="reservation_request_id" value="{{request_id}}">

        <div class="mb-3 form-check" style="width: 50%;">
            <label class="form-label">Nom</label>
            <input type="text" readonly class="form-control" value="{{last_name}}">
        </div>
        <br>
        <div class="mb-3 form-check" style="width: 50%;">
            <label class="form-label">Prenom</label>
            <input type="text" readonly class="form-control" value="{{first_name}}">
        </div>
        <div class="mb-3 form-check" style="width: 50%;">
            <label class="form-label">Type identification </label>
            <input type="text" readonly class="form-control" value="{{type_id}}">
        </div>
        <div class="mb-3 form-check" style="width: 50%;">
            <label class="form-label">Numero identification </label>
            <input type="text" readonly class="form-control" value="{{num_id}}">
        </div>
        <div class="mb-3 form-check" style="width: 50%;">
            <label for="dotation_code" class="form-label"
                   style="">Code dotation</label>
            <input type="text" class="form-control" id="dotation_code"
                   value="{{dotation_code}}" readonly>
        </div>
        <div class="mb-3 form-check" style="width: 50%;">
            <label for="validationCusto" class="form-label"
                   style="">Libelle dotation</label>
            <input type="text" class="form-control" style="" id="validationCusto"
                   value="{{dotation_libelle}}" readonly>
        </div>
        <div class="mb-3 form-check" style="width: 50%;">
            <label for="validationCusto" class="form-label"
                   style="">Montant</label>
            <input type="text" class="form-control" style="" id="validationC"
                   value="{{montant}}" readonly>
        </div>
        <b></b>
        <div id="div_force" class="mb-3 form-check" style="width: 20%;margin-left: 35%;">
            <a id="force"><input id="force_radio" class="form-check-input" type="radio" name="flexRadioDefault"
                                 name="force"></a>
            <label id="label_force" class="form-check-label" for="force">
                Solde suffisant
            </label>
        </div>
        <div class="mb-3 form-check" style="width:30%">
            <a id="solde_ind"><input id="solde_radio" class="form-check-input" type="radio" name="flexRadioDefault"
                                     ></a>
            <label class="form-check-label" for="solde_ind">
                Solde insuffisant
            </label>
        </div>

        <div class="mb-3 form-check" id="oc_solde" style="width: 50%;display:none;">
            <label class="form-label">Nouveau Solde OC</label><span style="color: #af5151;">*</span>
            <input type="number" step="0.01" required onchange="" oninput="changeHandler(this)" id="inp_solde"
                   class="form-control"
                   name="oc_new_solde">
            <span id="span_solde" class="form-control is-invalid"
                  style="display:none;color: #e93737;border: solid;text-align: center;margin-top: 2%;"> </span>

        </div>
        <div class="mb-3 form-check" id="ticket_num" style="width: 50%;display:none;">
            <label class="form-label">Numero Ticket OC </label><span style="color: #af5151;">*</span>
            <input type="hidden" required class="form-control" maxlength="20" oninput="ticketHandler(this)"
                   id="inp_ticket"
                   name="oc_ticket_num">
            <span id="span_ticket" class="form-control is-invalid"
                  style="display:none;color: #e93737;border: solid;text-align: center;margin-top: 2%;">veuillez inserer un numero ticket valide </span>

        </div>

        <span id="spn"
              style="display:none;color: #e93737;width: 23%;margin-left: 39%;border-color: black;border: solid;">veuillez remplir les champs * requis </span>
        <button type="submit" class="btn btn"
                style="display:none;width: 14%;margin-left: 43%;background-color: #1ab394;color:white;" id="valider">
            Valider
        </button>


    </form>


</div>

        <button id="retour" type="submit" class="btn btn-warning" style="width: 14%;margin-left: 0%;margin-top: 2%;color: white;">Retour</button>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='details_script.js')}}"></script>




{% endblock %}

