{% extends "base.html"%}  {% include "navbar.html"%}


{% block content %}
<link href="{{ url_for('static', filename='details.css') }}" rel="stylesheet">

<div id="container">
    <h1> Demmande Reservation</h1></div>
{% endblock %}
{% block details %}
<div id="container_1" class="col-12">
    <form id="form" name="form" class="row g-3 " novalidate action="" method="post">
        <input type="hidden" readonly class="form-control" name="reservation_request_id" value="{{request_id}}">

        <div class="mb-3 form-check" style="width: 50%;">
            <label class="form-label">Last name</label>
            <input type="text" readonly class="form-control" value="{{last_name}}">
        </div>
        <br>
        <div class="mb-3 form-check" style="width: 50%;">
            <label class="form-label">First Name</label>
            <input type="text" readonly class="form-control" value="{{first_name}}">
        </div>
        <div class="mb-3 form-check" style="width: 50%;">
            <label class="form-label">Identification type</label>
            <input type="text" readonly class="form-control" value="{{type_id}}">
        </div>
        <div class="mb-3 form-check" style="width: 50%;">
            <label class="form-label">Identification number</label>
            <input type="text" readonly class="form-control" value="{{num_id}}">
        </div>
        <div class="mb-3 form-check" style="width: 50%;">
            <label for="validation" class="form-label"
                   style="">Dotation code</label>
            <input type="text" class="form-control" id="validation"
                   value="{{dotation_code}}" readonly>
        </div>
        <div class="mb-3 form-check" style="width: 50%;">
            <label for="validationCusto" class="form-label"
                   style="">Dotation libelle</label>
            <input type="text" class="form-control" style="text-align: center;" id="validationCusto"
                   value="{{dotation_libelle}}" readonly>
        </div>

        <div class="mb-3 form-check" id="oc_solde" style="width: 50%;display:none;">
            <label class="form-label">OC New Solde </label><span style="color: #af5151;">*</span>
            <input type="number" step="0.01" required class="form-control" name="oc_new_solde">
        </div>
        <div class="mb-3 form-check" id="ticket_num" style="width: 50%;display:none;">
            <label class="form-label">OC Ticket Num </label><span style="color: #af5151;">*</span>
            <input type="hidden" required class="form-control" id="inp_ticket" name="oc_ticket_num">
        </div>

        <button type="submit" class="btn btn-success" style="display:none;width: 40%;margin-left: 29%;" id="valider">
            valider
        </button>

    </form>

</div>

{% endblock %}

{% block button %}
<div class="container"
     style="margin-left: 2%;padding: 1%;margin-right: -22%;display: flex;flex-direction: row;align-content: stretch;flex-wrap: nowrap;justify-content: center;">

    <!--    <a href="">-->
    <button id="force" value="{{request_id}}" class="btn btn-primary" type="submit"
            style="width: 18%;height: 11%;margin-left: 5%;">réserver
    </button>
    <!--    </a>-->
    <!--    <a href="">-->
    <button class="btn btn-danger" id="solde_ind" style="width: 21%;height: 11%; margin-left: 2px;">annuler
        réservation
    </button>
    <!--    </a>-->
    <a href="{{ url_for('back_office.listreservation',)}}">
        <button class="btn btn-warning" style="width: 109%;height: 101%;margin-left: 2px;">fermer</button>
    </a>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

    $(document).ready(function() {
    $("#force").click(function() {

        if($("#ticket_num").is(":visible") && $("#oc_solde").is(":visible") ){

            $('#inp_ticket').attr('type', 'hidden');
               $("#ticket_num").slideToggle("slow","linear");
                $("#oc_solde").slideToggle("slow","linear");
                $("#valider").slideToggle("slow",);
            }else if($("#oc_solde").is(":visible")){
            $('#inp_ticket').attr('type', 'text');
            $("#ticket_num").slideToggle("slow",);
            $('#form').attr('action', '{{ url_for('back_office.force_reservation')}}');

            } else{
            $('#inp_ticket').attr('type', 'text');
            $("#ticket_num").slideToggle("slow","linear");
            $("#oc_solde").slideToggle("slow","linear");
             $('#form').attr('action', '{{ url_for('back_office.force_reservation')}}');
            $("#valider").slideToggle("slow",);
       };
    });
  })
   $(document).ready(function() {
    $("#solde_ind").click(function() {
        if($("#ticket_num").is(":visible")){
             $('#inp_ticket').attr('type', 'hidden');
            $("#ticket_num").slideToggle("slow",);
              $('#form').attr('action', '{{ url_for('back_office.cancel_reservation')}}');
            } else{
       $("#oc_solde").slideToggle("slow","linear");
      $('#form').attr('action', '{{ url_for('back_office.cancel_reservation')}}');
       $("#valider").slideToggle("slow",);
        };
    });
  })

$(document).ready(function() {
    $("#valider").click(function() {
        if($("#ticket_num").is(":visible")){

            if($("#ticket_num").is("empty")){
                console.log('test');
                alert('Text-field is empty.');
            }

        };
    });
  })

 $( "form" ).on( "submit", function() {

   var has_empty = false;

   $(this).find( 'input[type!="hidden"]' ).each(function () {

      if ( ! $(this).val() ) {
            has_empty = true;

            $(this).css({'border-color':'#e68585','animation': '2s ',});

            }

   });


   if ( has_empty ) { return false; }
});





</script>

{% endblock %}

