{% extends "base.html"%} {% block title %}Back Office {% endblock %}{% include "navbar.html"%}
{% block content %}
<style>
    #container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 3%;

  Poppins,sans-serif
}

</style>

<div id="container">
    <h1>
        Solde
        Indisponible</h1></div>
{% endblock %}
{% block details %}
<div style="">
    <div class="col-md-6 mx-auto">
        <form action="{{ url_for('back_office.cancel_reservation')}}" method="POST" class="row g-3">

            <div class="mb-3 form-check" style="width:50%;">
                <label class="form-label">Reservation ID</label>
                <input type="text" readonly class="form-control" name="reservation_request_id" value="{{request_id}}">
            </div>
            <div class="mb-3 form-check" style="width:50%;">
                <label class="form-label">Last name</label>
                <input type="text" readonly class="form-control" value="{{last_name}}">
            </div>
            <div class="mb-3 form-check" style="width:50%;">
                <label class="form-label">First name</label>
                <input type="text" readonly class="form-control" value="{{first_name}}">
            </div>
            <div class="mb-3 form-check" style="width:50%;">
                <label class="form-label">Identification type</label>
                <input type="text" readonly class="form-control" value="{{type_id}}">
            </div>
            <div class="mb-3 form-check" style="width:50%;">
                <label class="form-label">Identification number</label>
                <input type="text" readonly class="form-control" value="{{num_id}}">
            </div>

            <div class="mb-3 form-check" style="width:50%;">
                <label class="form-label">OC New Solde</label><span style="color: #af5151;">*</span>
                <input type="number" required class="form-control" name="oc_new_solde">
            </div>

            <div class="mb-3 form-check" style="margin-left: 11%;" >
                <button type="submit" class="btn btn-primary" style="width: 42%;">Cancel
                    reservation
                </button>
<!--                <br>-->
                <a href="{{ url_for('back_office.listreservation')}}">
                    <button style="width: 22%;" type="button"
                            class="btn btn-warning" onclick="">
                        Close
                    </button>
                </a></div>
        </form>
    </div>
</div>
{% endblock %}